@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap");
:root {
  --cor-azul: #00ADB5;
  --cor-preta: #393E46;
  --cor-cinza: #C4C4C4;
  --cor-vermelho: #F13F3F;
  --sidebar-size: 58px;
  --icon-size: 18px;
}

* {
  outline: none;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, input, button, select {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-size: 14px;
}

li {
  list-style: none;
}

body, input, select {
  color: var(--cor-preta);
}

input, select {
  display: block;
}

.logo {
  padding: 20px 10px;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
}

body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-track {
  background: transparent;
}

body::-webkit-scrollbar-thumb {
  background: #f1f2f3;
}

body::-webkit-scrollbar-thumb:hover {
  background: #888;
}

.conteudo {
  /* width: calc(100% - var(--sidebar-size)); ->> COM SIDEBAR */
  width: 100%;
  margin: 0 auto;
}

.conteudo form {
  padding: 0 10px;
}

.conteudo form label {
  display: block;
  margin-bottom: 5px;
}

.conteudo form input {
  cursor: text;
}

.conteudo form select {
  cursor: pointer;
}

.conteudo form input, .conteudo form select {
  width: 100%;
  height: 48px;
  padding: 10px;
  border: 1px solid var(--cor-cinza);
  border-radius: 8px;
  text-align: center;
  text-align-last: center;
}

.conteudo form input:focus, .conteudo form select:focus {
  border-color: var(--cor-azul);
  -webkit-box-shadow: inset 0 0 1px var(--cor-azul);
          box-shadow: inset 0 0 1px var(--cor-azul);
  -webkit-transition: .2s;
  transition: .2s;
}

.conteudo form input::-webkit-input-placeholder, .conteudo form select::-webkit-input-placeholder {
  opacity: .5;
}

.conteudo form input:-ms-input-placeholder, .conteudo form select:-ms-input-placeholder {
  opacity: .5;
}

.conteudo form input::-ms-input-placeholder, .conteudo form select::-ms-input-placeholder {
  opacity: .5;
}

.conteudo form input::placeholder, .conteudo form select::placeholder {
  opacity: .5;
}

.conteudo form .flex-row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.conteudo form .flex-row div {
  width: 48%;
}

.conteudo form .flex-column {
  position: relative;
}

.conteudo form .flex-column label {
  margin-top: 10px;
}

.conteudo form .flex-column button {
  cursor: pointer;
  position: absolute;
  top: calc(50% - 12px);
  left: calc(50% - 24px);
  display: block;
  margin: 0 auto;
  width: 48px;
  height: 48px;
  background-color: var(--cor-azul);
  border: none;
  -webkit-box-shadow: 2px 1px 5px #f1f2f3;
          box-shadow: 2px 1px 5px #f1f2f3;
  border-radius: 50%;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  text-align: center;
  z-index: 9;
  -webkit-transition: .2s;
  transition: .2s;
  /* &:active {
          box-shadow: 2px 1px 5px #f1f2f3;
          background-color: #00bfc9;
        } */
}

.conteudo form .flex-column button:hover {
  -webkit-box-shadow: 4px 2px 7px var(--cor-cinza);
          box-shadow: 4px 2px 7px var(--cor-cinza);
  background-color: #00b8c2;
}

.conteudo form .flex-column button svg {
  position: relative;
  bottom: -1px;
  width: var(--icon-size);
  height: var(--icon-size);
  fill: white;
}

.resultado {
  width: 100%;
  padding: 0 10px;
  margin-bottom: 20px;
}

.resultado .msg {
  text-align: center;
  margin: 40px 0;
}

.resultado .msg p {
  margin: 10px 0;
}

.resultado .msg p .de, .resultado .msg p .para {
  font-weight: bold;
  font-size: 2.1rem;
}

.resultado .msg p .de-cod, .resultado .msg p .para-cod {
  font-size: 1.4rem;
}

.resultado .info {
  font-size: .85rem;
}

.chartContainer {
  position: relative;
  width: 100%;
  padding: 0 10px;
  /*   height: 60vh; */
  /* 200px */
  margin-bottom: 10px;
}

.chartContainer #chart {
  width: 100%;
  /*     height: 60vh; */
}

.disclaimer {
  position: relative;
  width: 100%;
  margin-top: 10px;
  padding: 0 10px;
}

.disclaimer p {
  margin: 6px 0;
  font-size: .85rem;
}

/* Media para dispositivos com device pixel ratio ~ 2.0 (Iphone 5/SE) */
@media (-webkit-max-device-pixel-ratio: 2), (max-resolution: 2dppx) {
  html, body, input, button, select {
    font-size: 12px;
  }
}

@media (min-width: 720px) {
  html, body, input, button, select {
    font-size: 14px;
  }
  body {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
  }
}
/*# sourceMappingURL=main.css.map */